<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Kasir - Miso Babat Lestari</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="wrapper">
    <!-- <img src="{{ url_for('static', filename='logo-bakso.png') }}" class="logo" alt="Logo"> -->
    
    <div class="logo-title">MISO BABAT LESTARI</div> 

    <div class="card">
      <form method="POST">
        <label>ID Kasir</label>
        <input type="text" name="username" placeholder="Masukkan ID Kasir" required>
        <label>Password</label>
        <div class="password-box">
          <input type="password" name="password" id="password" placeholder="Masukkan password" required>
          <span class="toggle-eye" onclick="togglePassword()">👁️</span>
        </div>
        <button type="submit">LOGIN</button>
        <a href="#">Lupa Password?</a>
      </form>
    </div>

    <div class="theme-select">
        <label>Tema</label>
        <select id="themeSelect">
        <option value="merah">🔥 Merah Gemuk</option>
        <option value="dark">🌙 Dark Mode</option>
        <option value="hijau">🌿 Hijau Tosca</option>
        </select>
    </div>

  </div>
  <script>

    const themeSelect = document.getElementById('themeSelect');
    const body = document.body;

    // Load tema tersimpan
    const savedTheme = localStorage.getItem('theme') || 'merah';
    body.classList.add(savedTheme + '-mode');
    themeSelect.value = savedTheme;

    // Ganti tema
    themeSelect.addEventListener('change', (e) => {
    body.classList.remove('merah-mode', 'dark-mode', 'hijau-mode');
    body.classList.add(e.target.value + '-mode');
    localStorage.setItem('theme', e.target.value);
    });

    function togglePassword() {
      const passInput = document.getElementById('password');
      const eyeIcon = document.querySelector('.toggle-eye');
      if (passInput.type === 'password') {
        passInput.type = 'text';
        eyeIcon.textContent = '🙈';
      } else {
        passInput.type = 'password';
        eyeIcon.textContent = '👁️';
      }
    }
  </script>
</body>
</html>